<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.progress-tracker</string>
  <key>WorkingDirectory</key>
  <string>/Users/YOU/MDocs/Tools/progress-tracker</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/caddy</string>
    <string>file-server</string>
    <string>--listen</string>
    <string>127.0.0.1:8787</string>
    <string>--root</string>
    <string>/Users/YOU/MDocs/Tools/progress-tracker</string>
    <string>--access-log</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/YOU/MDocs/Tools/progress-tracker/server.caddy.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/YOU/MDocs/Tools/progress-tracker/server.caddy.err.log</string>
</dict>
</plist>
